{% extends 'base.html' %} {% block title %}cnn_model{% endblock title %} {% block
  content %}
  <form method="POST" action="{{ url_for('views.cnn_model') }}" enctype="multipart/form-data">
    <head>
      <h1 align="center">image classification model tester</h1>
    </head>
    <body>
      <div align="left">
        <br></br>
        <h2>upload your image here: </h2>
        <input type="file" class="btn btn-outline-primary btn"  id="file" name="image_file" accept="image/*" >
        <br></br>
        <br></br>

        <h2>upload your model here (.h5): </h2>
        <input type="file" class="btn btn-outline-primary btn" id="file" name="model_file" accept=".h5">
      </div>
      <br></br>
      <br></br>

      {% if  missing_fields%}
        <output for="range-input" id="output">{{error_message}}</output>
      {% endif %}

      <br></br>
      <input type="submit" class="btn btn-primary btn-block" value="test your model" name="submit_model">
     </body>
  </form>

  
  {% endblock content %}