{% extends 'base.html' %} {% block title %}home{% endblock title %} {% block
    content %}
    <form method="POST" action="{{ url_for('views.home') }}" >
      <head>
        <h1 align="center">cnn model home:</h1>
      </head>
      <body>
        <br></br>
  
        <div align="left">
          <h2>if you wish to check your cnn model click here: </h2>
          <input type="submit" class="btn btn-primary btn-block" value="check your model" name="cnn_model">
          
          <br></br>
          <br></br>
          
          <h2>if you wish to get images from a youtube video or a video file click here: </h2>
          <input type="submit" class="btn btn-primary btn-block" value="get images" name="get_images">
        </div>

  
       </body>
    </form>
  
    
    {% endblock content %}